
section.portfolio 
    .portfolio__header
        .portfolio__header-content 
            h3 AT A GLANCE
            a(href="/pages/blog.html") 
                button EXPLORE
        img(src=require("/assets/img/portfolio.jpg"), alt="")

    .portfolio__works.container
        .portfolio__works-testimonials
            h4 TESTIMONIALS
            span.text-italic  from our past clients
            p.small-text We started small, and now look at us, making all these people happy with our services!
            p.small-text Wedding photographers and videographers are nearly invisible on the day of event, but we shure do get all the attention after,once we submit our work. We are proud  to display nearly perfect scores across all of our reviewing platforms including Google and WeddingWire. Scroll sideways to read more of them.


        .portfolio__works-slider-container 
            .portfolio__works-slider-arrow.portfolio__works-slider-arrow--left
                img(src=require("/assets/img/arrow-left.svg"), alt="")
            .portfolio__works-slider-arrow.portfolio__works-slider-arrow--right
                img(src=require("/assets/img/arrow-right.svg"), alt="")

            .portfolio__works-slider
                .portfolio__works-slider-item
                    h4 Melissa & Calvin
                    span.text-italic Bride and Groom, Toronto
                    p.small-text We wish we could re-live that day again!!!!!! We have met our wedding photographer in advance in order to discuss the concept and the ideas we had for the couple photoshoot. He did not hesitate when we asked him what would look best, and appeared very knowledgeable. We couldn’t be happier with our pics!
                .portfolio__works-slider-item
                    h4 Gena & Michael
                    span.text-italic Bride and Groom, Rich Hill
                    p.small-text We went with the Lucky Package for our small wedding. We only invited the closest family and friends, and we were looking for photo+video coverage that would be discreet and that would do a good job capturing everyone and everything. Our photo and video guys were professional and very friendly, which is something my guests appreciated because we are usually camera-shy. So many amazing pictures, and the video is just sweet! Thank you!
                .portfolio__works-slider-item
                    h4 Shira & Jin
                    span.text-italic Bride and Groom, Toronto
                    p.small-text Great guys! We only got a video package with them, because unfortunately by the time we found them we already had a photographer booked. I could see that the photographer always got in their way, and I can’t imagine how come their videos are eventually so good, because I was sure all I’m gonna see is this guy and his camera. They were so professional about it, it really speaks volumes.
                .portfolio__works-slider-item
                    h4 Melissa & Calvin
                    span.text-italic Bride and Groom, Toronto
                    p.small-text We wish we could re-live that day again!!!!!! We have met our wedding photographer in advance in order to discuss the concept and the ideas we had for the couple photoshoot. He did not hesitate when we asked him what would look best, and appeared very knowledgeable. We couldn’t be happier with our pics!
                .portfolio__works-slider-item
                    h4 Gena & Michael
                    span.text-italic Bride and Groom, Rich Hill
                    p.small-text We went with the Lucky Package for our small wedding. We only invited the closest family and friends, and we were looking for photo+video coverage that would be discreet and that would do a good job capturing everyone and everything. Our photo and video guys were professional and very friendly, which is something my guests appreciated because we are usually camera-shy. So many amazing pictures, and the video is just sweet! Thank you!
                .portfolio__works-slider-item
                    h4 Shira & Jin1
                    span.text-italic Bride and Groom, Toronto
                    p.small-text Great guys! We only got a video package with them, because unfortunately by the time we found them we already had a photographer booked. I could see that the photographer always got in their way, and I can’t imagine how come their videos are eventually so good, because I was sure all I’m gonna see is this guy and his camera. They were so professional about it, it really speaks volumes.
            

        