mixin menu(active=0)
    .menu.menu-1(active=active)
        .menu__items.container
            a(href="/").menu__items-item HOME
            a(href="/pages/packages.html").menu__items-item PACKAGES
            a(href="/pages/blog.html").menu__items-item BLOG
            a(href="/pages/contact.html").menu__items-item CONTACT
        
        .menu__open-btn 
            .menu__open-btn-circle
            .menu__open-btn-circle
            .menu__open-btn-circle