mixin menu(active=0)
    .menu.menu-1(active=active)
        .menu__items.container
            a.menu__items-item HOME
            a.menu__items-item PHOTOGRAPHY
            a.menu__items-item VIDEOGRAPHY
            a.menu__items-item DESTINATION
            a.menu__items-item PACKAGES
            a.menu__items-item BLOG
            a.menu__items-item ABOUT 
            a.menu__items-item CONTACT
        
        .menu__open-btn 
            .menu__open-btn-circle
            .menu__open-btn-circle
            .menu__open-btn-circle