
extends ../base/layout.pug

block head
    title TarTar

block content 
    +top_image("/assets/img/mainpage_header.png")
    +menu(0)
    include ../../blocks/mainpage/features/features.pug
    include ../../blocks/mainpage/portfolio/portfolio.pug
    include ../../blocks/mainpage/packages/packages.pug
    include ../../blocks/mainpage/stories/stories.pug
    include ../../blocks/mainpage/something/something.pug
    include ../../blocks/mainpage/contact/contact.pug