@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');

@font-face {
    font-family: "Avenir";
    src: url("../assets/fonts/Avenir-Black.eot") format("eot"),
        url("../assets/fonts/Avenir-Black.ttf") format("ttf"),
        url("../assets/fonts/Avenir-Black.woff") format("woff"),
        url("../assets/fonts/Avenir-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "Avenir";
    src: url("../assets/fonts/Avenir-semibold.eot") format("eot"),
        url("../assets/fonts/Avenir-semibold.ttf") format("ttf"),
        url("../assets/fonts/Avenir-semibold.woff") format("woff"),
        url("../assets/fonts/Avenir-semibold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Avenir";
    src: url("../assets/fonts/Avenir-medium.eot") format("eot"),
        url("../assets/fonts/Avenir-medium.ttf") format("ttf"),
        url("../assets/fonts/Avenir-medium.woff") format("woff"),
        url("../assets/fonts/Avenir-medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Avenir";
    src: url("../assets/fonts/Avenir-Regular.eot") format("eot"),
        url("../assets/fonts/Avenir-Regular.ttf") format("ttf"),
        url("../assets/fonts/Avenir-Regular.woff") format("woff"),
        url("../assets/fonts/Avenir-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Avenir";
    src: url("../assets/fonts/Avenir-Light.eot") format("eot"),
        url("../assets/fonts/Avenir-Light.ttf") format("ttf"),
        url("../assets/fonts/Avenir-Light.woff") format("woff"),
        url("../assets/fonts/Avenir-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Paris";
    src: 
        url("../assets/fonts/ParisPro.woff2") format("woff2"),
        url("../assets/fonts/ParisPro.eot") format("eot"),
        url("../assets/fonts/ParisPro.ttf") format("ttf"),
        url("../assets/fonts/ParisPro.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

// ---------------------------------------------------------------------------

h1, h2, h3, h4, span, p{
    cursor: default;
}
h1, h2, h3, h4{
    margin: 0;
    padding: 0;
}
h1, h2{
    font-family: "Paris";
}
h1{
    font-family: Paris;
    font-size: 202px;
    font-style: normal;
    font-weight: 400;
    line-height: 202px;
    letter-spacing: -0.031em;

}
h2{
    font-size: 170px;
    line-height: 170px;
    letter-spacing: -0.031em;
}
h3{
    font-family: "Avenir";
    font-size: 41px;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: -.06em;

}
h4{
    font-family: "Baskerville";
    font-size: 30px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.06em;

}

p, span{
    font-family: "Baskerville";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.02em;
    text-align: center;
    

}

// ---------------------------------------------------------------------------
.contact{
    color: $dark_grey;

    font-family: "Avenir";
    font-size: 31px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0.04em;
}

.menu-1{
    font-family: "Baskerville";
    font-size: 25px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.055em;

}
.menu-2{
    font-family: Baskerville;
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.06em;

}

.text-italic{
    font-family: Baskerville;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 26px;

}

.small-text{
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.02em;

}

@media screen and (max-width: 1279px){

    h1{
        font-size: 110px;
        line-height: 110px;
        letter-spacing: 0.03em;
    }
    h2{
        font-size: 80px;
        line-height: 80px;
        letter-spacing: 0.03em;
    }
}

@media screen and (max-width: 767px){

    p, span{
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.065em;
    }

    h1{
        font-family: Paris;
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: 60px;
        letter-spacing: -0.075em;
        text-align: left;
    }

    .text-italic{
        font-size: 22px;
        line-height: 24px;

    }

    .menu-1, .menu-2{
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0em;

    }
}