form.callform(action="").container
    img(src=require("/assets/img/callform.png"), alt="")
    .callform__data
        h2.callform__data-title Contact Us
        p.callform__data-text Tell us all about your expectations, plans or concerns. We are open for any questions you might have. Let’s discuss them face to face or over the phone/email- you pick.
        .callform__data-inputs 
            input(type="text" placeholder="Your name")
            input(type="text" placeholder="E-mail")
            input(type="text" placeholder="+1(xxx)xxx-xxxx")
            input(type="text" placeholder="Wedding Data")
            input.message(placeholder="Your message")
            button(type="submit") submit