mixin top_image(url)
    .top-image 
        .top-image__header.container.contact
            span.top-image__header-contact WEDDING PHOTOGRAPHER AND VIDEOGRAPHER
            span.top-image__header-contact +1-(888)-699-9443
            span.top-image__header-contact INFO@TARAWEDDINGS.CA
            
        img(img-url=url alt="").top-image__img