section.contact 
    .contact__header 
        img(src=require("/assets/img/contact.png"), alt="")
        .contact__header-text 
            h3 Let’s get in touch
            span COMMUNICATION IS KEY
        
    .contact__contacts.container
        .contact__contacts-links 
            a(href="https://instagrum.com").contact__contacts-links-link 
                span info@taraweddings.ca
                img(src=require("/assets/img/instagrum.svg"), alt="")
            a(href="https://gmail.com").contact__contacts-links-link 
                span @taraweddings
                img(src=require("/assets/img/mail.svg"), alt="")
            .contact__contacts-links-link 
                span +1(888)699-9443
                img(src=require("/assets/img/phone.svg"), alt="")
        .contact__contacts-text
            span Choosing your wedding photography and videography crew shouldn’t be taken lightly. We understand how important this step is to you and we are here to answer any questions you might have.  
            a(href="/pages/contact.html")  
                button CONTACT
        