.footer.container
    .footer__item
        h3 TRENDING PAGES

        .footer__item-links
            a(href="google.com") Toronto Wedding Videography
            a(href="google.com") Toronto Wedding Photography
            a(href="google.com")  Destination Wedding Photography
            a(href="google.com") Toronto Engagement Photography
        
        
    .footer__item
        h3 INTERNATIONAL WEDDINGS
        .footer__item-links
            a(href="google.com") Indian Wedding Photography
            a(href="google.com") Toronto Wedding Photography
            a(href="google.com") Destination Wedding Photography
            a(href="google.com") Toronto Engagement Photography
            a(href="google.com") Chinese Wedding Photography
        
    .footer__copyright
        span Copyright Tara Weddings 2019. All rights reserved.Wedding photography and videography in Toronto

