
.features 
    .container
        .features__text 
            h1.features__text-title Our Features
            h3.features__text-subtitle WHY WE ARE YOUR BEST CHOICE
            p.features__text-par Choosing a wedding coverage crew is not just about liking the visuals, it's commiting to the whole experience, it's deciding on professionals who would create your first 
                strong family heirloom.
        
        img(src=require("/assets/img/features.png"), alt="").features__img
        .features__list
            .features__list-nav.menu-2
                .features__list-nav-item(num=0) ADVANCE BOOKING
                .features__list-nav-item(num=1) VARIETY OF STYLES
                .features__list-nav-item(num=2) EXELLENT REVIEWES
                .features__list-nav-item.features__list-nav-item--active(num=3) HUGE PORTFOLIO
                .features__list-nav-item(num=4) TEAM WORK
                .features__list-nav-item(num=5) BALLANCED PACKAGE
                .features__list-nav-item(num=6) SILENT COVERAGE
                .features__list-nav-item(num=7) FAST DELIVERY
                
            .features__list-texts.text-italic
                .features__list-texts-item In, nihil harum eum id totam illo saepe perferendis illum distinctio libero. Minima magnam nihil dolores deserunt tenetur nisi unde consequuntur iste?
                .features__list-texts-item Repellendus maiores ullam, qui provident culpa laudantium fuga harum est modi consequuntur reprehenderit sunt. Accusamus voluptates quis itaque eaque in. Voluptatum, ipsam!
                .features__list-texts-item Assumenda aperiam, nesciunt sapiente tempora ipsa dicta, corrupti dolorem magnam quos mollitia laboriosam optio iste impedit, ex ea vel sint animi fugiat!
                .features__list-texts-item.features__list-texts-item--active Our photographers and Videographers are trained to work as one, moving simultaneously to get the best coverage possible without getting in each other’s way.
                .features__list-texts-item In, nihil harum eum id totam illo saepe perferendis illum distinctio libero. Minima magnam nihil dolores deserunt tenetur nisi unde consequuntur iste?
                .features__list-texts-item Repellendus maiores ullam, qui provident culpa laudantium fuga harum est modi consequuntur reprehenderit sunt. Accusamus voluptates quis itaque eaque in. Voluptatum, ipsam!
                .features__list-texts-item Assumenda aperiam, nesciunt sapiente tempora ipsa dicta, corrupti dolorem magnam quos mollitia laboriosam optio iste impedit, ex ea vel sint animi fugiat!
                .features__list-texts-item Iusto autem, officiis inventore ducimus fuga pariatur laborum soluta, nesciunt quia adipisci, eum quidem ab ex amet molestiae necessitatibus! Ipsum, rem eos.