section.something.container
    .something__header 
        h1 SOMETHING 
        h2 for everyone
        h4 get a taste of exotic celebrations
    
    .something__links
        .something__links-link 
            h4 INTERNATIONAL WEDDINGS
            p Our clients come from various ethnical backgrounds, and many of them choose to continue their families’ legacies and bring their own traditions and rituals into their weddings. Since Toronto is a very multi-cultural city, we believe it is very important to highlight our expertease in covering Chinese, Korean, Sikh, and other weddings that are rich in customs.
            a(href="/pages/blog.html")
                button VIEW MORE 
        .something__links-link 
            h4 DESTINATIONS WEDDINGS
            p We love a fine wedding somewhere downtown Toronto  but we would never say no to coming somewhere warm with you. There is something very adventurous about getting married in a foreign country, it calls for professional coverage that utilizes the unusual locations.
            a(href="/pages/blog.html")
                button VIEW MORE 