.welcome_text.container
    h1.welcome_text__title Our Blog
    p We are passionate about the industry we take part in, and we know well enoudh, how foreign it looks to out clients. Wedding photography and videography is way more complex than just pressing a button, and we would like to introduce you to all the little details that ususally behind the stage.
    p In this blog you will also find some useful tips on how to contribute to the process from your end, whitch surely will elevate the pictures beyond all your expectations. Aspiring photographers can also find an abundance of information here.
    span Welcome!