.stories.container 
    .stories__item
        h1 Full Wedding Stories
        h3 EXPLORE OUR FAVOURITE ALBUMS
        p It is highly important for us that our future clients understand what they would invest in when hiring us. Therefore we present you with examples of full weddings we covered. Depending on the package, these examples include photos from the entire event, short edited videos as well as hard cover photo albums and printed canvases.
    .stories__item
        h1 Full Wedding Stories
        h3 EXPLORE OUR FAVOURITE ALBUMS
        p It is highly important for us that our future clients understand what they would invest in when hiring us. Therefore we present you with examples of full weddings we covered. Depending on the package, these examples include photos from the entire event, short edited videos as well as hard cover photo albums and printed canvases.
    .stories__item
        h1 Full Wedding Stories
        h3 EXPLORE OUR FAVOURITE ALBUMS
        p It is highly important for us that our future clients understand what they would invest in when hiring us. Therefore we present you with examples of full weddings we covered. Depending on the package, these examples include photos from the entire event, short edited videos as well as hard cover photo albums and printed canvases.
    .stories__item
        h1 Full Wedding Stories
        h3 EXPLORE OUR FAVOURITE ALBUMS
        p It is highly important for us that our future clients understand what they would invest in when hiring us. Therefore we present you with examples of full weddings we covered. Depending on the package, these examples include photos from the entire event, short edited videos as well as hard cover photo albums and printed canvases.
    .stories__item
        h1 Full Wedding Stories
        h3 EXPLORE OUR FAVOURITE ALBUMS
        p It is highly important for us that our future clients understand what they would invest in when hiring us. Therefore we present you with examples of full weddings we covered. Depending on the package, these examples include photos from the entire event, short edited videos as well as hard cover photo albums and printed canvases.